<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<script type="text/javascript" src="<%= swfObjectPath_useGoogle == true ? 'http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js' : swfObjectPath %>"></script>
		<script type="text/javascript">
			var flashvars = {};
			var params = {};
			var attributes = {};
					
			<% _.each(flashVars, function(name, key) { 
			%>flashvars.<%= key %>="<%= name %>";
			<% });%>
			<% _.each(params, function(name, key) { 
			%>params.<%= key %>="<%= name %>"; 
			<% }); %>
			attributes.name = "<%= attributeName %>";
			attributes.styleclass = "<%= attributeClass %>";
			attributes.align = "<%= attributeAlign %>";			
			swfobject.embedSWF("<%= flashFile %>", "<%= contentID %>", "<%= dimensionWidth %><%= dimensionUnit %>", "<%= dimensionHeight %><%= dimensionUnit %>", "<%= fpVersionMajor %>.<%= fpVersionMinor %>.<%= fpVersionRelease %>", <%= expressInstallSwfPath_enabled == true ? '"' + expressInstallSwfPath + '"' : 'false' %>, flashvars, params, attributes);
		</script>
	</head>
	<body>
		<div id="<%= contentID %>">
			<%= alternativeContent %>
		</div>
	</body>
</html>